<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Node.js課題③ クイズアプリ</title>
    <meta name="description" content="Node.js課題③ クイズアプリ">
</head>
<body>
    <h1>あなたの正答数は<%= count %>です!!</h1>
    <hr>
    <div>再度チャレンジしたい場合は以下をクリック!!</div>
    <hr>
    <div>
        <input type="button" onclick="location.href='/'" value="ホームに戻る">
    </div>
</body>
</html>