<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Node.js課題③ クイズアプリ</title>
    <meta name="description" content="Node.js課題③ クイズアプリ">
    <script defer src="js/public.js"></script>
</head>
<body id="bodyQuiz">
    <h1 id="h1">ようこそ</h1>
    <div id="div1"></div>
    <div id="div2"></div>
    <hr>
    <div id="div3">以下のボタンをクリック</div>
    <hr>
    <div id="div4">
        <input type="button" name="startBtn" id="btn0" value="開始">
    </div>
    <div id="div5"></div>
    <div id="div6"></div>
    <div id="div7"></div>
</body>
</html>