<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Node.js課題③ クイズアプリ</title>
    <meta name="description" content="Node.js課題③ クイズアプリ">
    <!--<script defer src="fronEnd.js"></script>-->
</head>
<body>
    <h1 id="h1">ようこそ</h1>
    <hr>
    <div id="div1">以下のボタンをクリック</div>
    <hr>
    <div>
        <input type="button" id="btn0" value="開始">
    </div>
</body>
<script src="js/public.js"></script>
</html>